@import "tailwindcss";

:root {
  --fg: #ffffff;
  --mg: #eeeeee;
  --bg: #000000;
  --accent: #f5b111;
  --accent-light: #F9D071;
}

body {
  font-family: "Inter", 'HiraginoSans', "Noto Sans JP", sans-serif;
  background-color: var(--bg);
  color: var(--fg);
}

@theme {
  --color-foreground: var(--fg);
  --color-middleground: var(--mg);
  --color-background: var(--bg);
  --color-background-transparent: rgba(255, 255, 255, 0.1);
  --color-accent: var(--accent);
  --color-accent-light: var(--accent-light);
}
